new file:   .idea/.gitignore
new file:   .idea/FlaskApp.iml
new file:   .idea/inspectionProfiles/Project_Default.xml
new file:   .idea/inspectionProfiles/profiles_settings.xml
new file:   .idea/misc.xml
new file:   .idea/modules.xml
.idea